<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thankyou</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="../static/css/aos.css">

    <link rel="stylesheet" href="../static/css/style copy.css">
    
    <!-- Header Links -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.css">
    
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">

    <link rel="stylesheet" href="../static/css/aos.css">

    <link rel="stylesheet" href="../static/css/ionicons.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../static/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/icomoon.css">
    
  </head>
  <body>
  <!-- Nav -->
  <div class="py-1" style="background-color: #88ac44; color: white; text-transform: uppercase;font-family: Poppins, Arial, sans-serif; font-size: 11px; letter-spacing: 1.3px; overflow-x: hidden;">
    <div class="container" style="margin-left: 10rem; padding: 3px;">
      <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
        <div class="col-lg-12 d-block">
          <div class="row d-flex">
            <div class="col-md pr-4 d-flex topper align-items-center">
              <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
              <span class="text" style="margin-left: 5px;">+ 1235 2355 98</span>
            </div>
            <div class="col-md pr-4 d-flex topper align-items-center">
              <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
              <span class="text" style="margin-left: 5px;">smartcartsolution@email.com</span>
            </div>
            <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
              <span class="text" style="margin-left: 5px;">3-5 Business days delivery &amp; Free Returns</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar" style="height: 4rem;">
    <div class="container" style="width: 100%;display: inline-flex;">
      <a href="index.html" style="color:#88ac44; font-size: medium; font-weight: 900; text-transform: uppercase; font-size: 1.4rem; font-family: Poppins; margin-left: -6rem;">Smart Cart Solution</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" style="justify-content: right; text-transform: uppercase; font-size: 11px; letter-spacing: 1.1px; color: black; gap: 1.5rem;" id="ftco-nav">
        <ul class="navbar-nav ml-auto" style="gap: 1.5rem;font-weight: 400;">
          <li class="nav-item active"><a href="/" class="nav-link" style="color: black;">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left: 23px; color: black;">Shop</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <!-- <a class="dropdown-item" href="shop.html">Fashion</a> -->
              <!-- <a class="dropdown-item" href="wishlist.html">Wishlist</a> -->
              <a class="dropdown-item" href="Grocery.html" style="padding-left: 23px;">Grocery</a>
                <a class="dropdown-item" href="Fruits.html" style="padding-left: 23px;">Fruit</a>
                <a class="dropdown-item" href="BoysFashion.html" style="padding-left: 23px;">Mens</a>
                <a class="dropdown-item" href="GirlsFashion.html" style="padding-left: 23px;">Womens</a>
                <!-- <a class="dropdown-item" href="product-single.html" style="padding-left: 23px;">Single Product</a> -->
            </div>
          </li>
          <li class="nav-item"><a href="about.html" class="nav-link" style="color: black;">About</a></li>
          <!-- <li class="nav-item"><a href="blog.html" class="nav-link" style="color: black;">Blog</a></li> -->
          <li class="nav-item"><a href="contact.html" class="nav-link" style="color: black;">Contact</a></li>
          <li class="nav-item cta cta-colored"style="color: black;"><a href="cart.html" class="nav-link" style="color: black;"><span class="icon-shopping_cart" style="color: black;" ></span>[0]</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- Nav ends -->

    </header>

    <!-- <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Contact</strong></div>
        </div>
      </div>
    </div>   -->

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Thank you!</h2>
            <p class="lead mb-5">You order was successfuly completed.</p>
            <p><a href="index.html" class="btn btn-sm btn-primary", onclick="deleteJson()">Back to shop</a></p>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer Start -->
    <footer class="ftco-footer ftco-section" style="color: black;font-family: 15px;width: 100%; display: flex; justify-content: center; align-items: center;">
      <div class="container" style="width: 100vw; display: flex; justify-content: center; align-items: center;" >
          <div class="row">
              <div class="mouse">
                        <a href="#" class="mouse-icon">
                            <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                        </a>
                    </div>
          </div>
        <div class="row mb-5" style="position: relative; left: 1rem;" >
          <div class="col-md">
            <div class="ftco-footer-widget mb-4" >
              <h2 class="ftco-heading-2" style="font-size: 16px; font-family: Poppins;">Smart Cart Solution</h2>
              <br>
  
              <p style="font-size: 14px;">Shop Smarter, Live Brighter. Upgrade Your Cart, Upgrade Your Life.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5" style=" display:inline-flex; justify-content: space-between;color: black;">
                <li class="ftco-animate "><a href="#"><span class="icon-twitter" style="color: black;"></span></a></li>
                <li class="ftco-animate "><a href="#"><span class="icon-facebook" style="color: black;"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram" style="color: black;"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md" style="position: relative;left: 3rem;" >
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2" style="color: black; font-size: 16px; font-family: Poppins;">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block" style="color: black;font-size: 14px; font-family: Poppins;">Shop</a></li>
                <li><a href="#" class="py-2 d-block" style="color: black;font-size: 14px; font-family: Poppins;">About</a></li>
                <!-- <li><a href="#" class="py-2 d-block">Journal</a></li> -->
                <li><a href="#" class="py-2 d-block"style="color: black;font-size: 14px; font-family: Poppins;">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4" style="position: relative;left: 1rem;">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2" style="font-size: 16px; font-family: Poppins;">Help</h2>
              <div class="d-flex">
                  <ul class="list-unstyled mr-l-5 pr-l-3 mr-4" style="color: black;">
                    <li><a href="#" class="py-2 d-block" style="color: black; font-size: 14px; font-family: Poppins;">Shipping Information</a></li>
                    <li><a href="#" class="py-2 d-block" style="color: black; font-size: 14px; font-family: Poppins;">Returns &amp; Exchange</a></li>
                    <li><a href="#" class="py-2 d-block" style="color: black; font-size: 14px; font-family: Poppins;">Terms &amp; Conditions</a></li>
                    <li><a href="#" class="py-2 d-block" style="color: black; font-size: 14px; font-family: Poppins;">Privacy Policy</a></li>
                  </ul>
                  <ul class="list-unstyled" style="margin-left: 1rem;">
                    <li><a href="#" class="py-2 d-block" style="color: rgb(28, 91, 131); font-weight: 500;" >FAQs</a></li>
                    <li><a href="#" class="py-2 d-block"  style="color: rgb(28, 91, 131); font-weight: 500;">Contact</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-md" style="position: relative;right: 3rem;">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2" style="font-family: Poppins; font-size: 16px;"> Have a Questions?</h2>
                <div class="block-23 mb-3">
                  <ul style="margin-left: -2rem;">
                    <li style="list-style: none;"><span class="icon icon-map-marker" style="margin-right: 10px;"></span><span class="text">No. 123, Mango Lane, Sector 15, Rohini, New Delhi - 110085</span></li>
                    <li style="list-style: none;"><a href="#"><span class="icon icon-phone" style="margin-right: 10px; color: rgb(28, 91, 131);"></span><span class="text"  style="color: rgb(28, 91, 131); font-weight: 400;">+91 11 2345 6789</span></a></li>
                    <li style="list-style: none;"><a href="#"><span class="icon icon-envelope" style="margin-right: 10px; color: rgb(28, 91, 131);"></span><span class="text"  style="color: rgb(28, 91, 131); font-weight: 400;">smartcartsolution@gamil.com</span></a></li>
                  </ul>
                </div>
            </div>
          </div>

          <div class="row" style="margin-left: 20rem; font-size: 14px;">
              <div class="col-md-12 text-center">
    
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
              </div>
            </div>
        </div>
        
      </div>
    </footer>
  <!-- Footer End -->
  </div>

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/jquery-ui.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/aos.js"></script>

  <script src="../static/js/main.js"></script>
    <script src="../static/main.js"></script>

  <script>
    const deleteJson = () => {
      function emptyJSONFile() {
        // Make an HTTP POST request to the Flask route
        fetch('/empty_json', {
          method: 'POST'
        })
        .then(response => {
          // Check if the response is successful (status code 200)
          if (!response.ok) {
            throw new Error('Failed to empty JSON file');
          }
          // Return the response
          return response.json();
        })
        .then(data => {
          // Log the success message from Flask
          console.log('Success:', data.message);
        })
        .catch(error => {
          // Log any errors that occur during the fetch operation
          console.error('Error:', error);
        });
      }

      // Call the function to empty the JSON file
      emptyJSONFile();
    }
  </script>
    
  </body>
</html>